In [56]:
# List of high schools
high_schools = ["Huang High School",  
                "Figueroa High School", 
                "Shelton High School", 
                "Hernandez High School",
                "Griffin High School",
                "Wilson High School", 
                "Cabrera High School", 
                "Bailey High School", 
                "Holden High School", 
                "Pena High School", 
                "Wright High School",
                "Rodriguez High School", 
                "Johnson High School", 
                "Ford High School", 
                "Thomas High School"]
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [57]:
# Add the Pandas dependency.
import pandas as pd

In [58]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [59]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [60]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [61]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [62]:
# Initialize a new Dataframe.
schools_df = pd.Dataframe()

#Add the list to a new Datafram
schools_df["School ID"] = school_id

#Print the Dataframe
schools_df

AttributeError: module 'pandas' has no attribute 'Dataframe'