In [19]:
# List of high schools
high_schools = ["Huang High School",  
                "Figueroa High School", 
                "Shelton High School", 
                "Hernandez High School",
                "Griffin High School",
                "Wilson High School", 
                "Cabrera High School", 
                "Bailey High School", 
                "Holden High School", 
                "Pena High School", 
                "Wright High School",
                "Rodriguez High School", 
                "Johnson High School", 
                "Ford High School", 
                "Thomas High School"]
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [20]:
# Add the Pandas dependency.
import pandas as pd

In [21]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [22]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
# Three separate lists of information on high schools
school_id = [1, 2, 3, 4, 5]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [33]:
# Initialize a new Dataframe.
schools_df = pd.DataFrame()

#Add the list to a new Datafram
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

#Print the Dataframe
schools_df

   School ID            school_name      type
0          1      Huang High School  District
1          2   Figueroa High School  District
2          3    Shelton High School   Charter
3          4  Hernandez High School  District
4          5    Griffin High School   Charter

In [34]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [35]:
school_df = pd.DataFrame(high_schools_dict)
school_df

   School ID            school_name      type
0          1      Huang High School  District
1          2   Figueroa High School  District
2          3    Shelton High School   Charter
3          4  Hernandez High School  District
4          5    Griffin High School   Charter

In [36]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [37]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
school_df.values

array([[1, 'Huang High School', 'District'],
       [2, 'Figueroa High School', 'District'],
       [3, 'Shelton High School', 'Charter'],
       [4, 'Hernandez High School', 'District'],
       [5, 'Griffin High School', 'Charter']], dtype=object)

In [9]:
#Module 4.9.3 begins here

class Cat:
    def __init__(self,name):
        self.name = name
        
feline = Cat('Felix')
print(feline.name)

Felix

In [10]:
class Cat:
    def __init__(self,name):
        self.name = name

feline2 = Cat('Garfield')
print(feline2.name)

Garfield

In [19]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    
    def bark(self):
        return self.sound + '' + self.sound
    
canine = Dog('Beebo', 'Dark Brown', ' woof!')
print(canine.name)
print(canine.color)
canine.bark()

Beebo
Dark Brown

' woof! woof!'

In [22]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    
    def arf(self):
        return self.sound +''+ self.sound

canine2 = Dog('Pibshib', 'Lavender', ' woot!')
print(canine2.name)
print(canine2.color)
canine2.arf()

Pibshib
Lavender

' woot! woot!'